html {
    height: 100%;
}

body {
    background-attachment: fixed;
    /*
    background: #87e0fd;
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 50%, #05abe0 100%);
    background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 50%,#05abe0 100%);
    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 50%,#05abe0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );*/
    background: #1abc9c;
    background: -moz-linear-gradient(top, #1abc9c 0%, #34495e 100%);
    background: -webkit-linear-gradient(top, #1abc9c 0%, #34495e 100%);
    background: linear-gradient(to bottom, #1abc9c 0%, #34495e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#34495e', GradientType=0);

        color: white;
}

.clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 4em;
}

.input_title, .input_field {
    background-color: transparent;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.input_field input, .input_field input:focus{
    outline: 0;
    border: 0;
    border-bottom: 2px solid white;
    background-color: transparent;
    width: 100%;
}

.row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.center {
    text-align: center;
}

.container {
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.1);
}

.delete, .status {
    /*padding: 15px 0px 15px 90px;*/
    color: rgba(0, 0, 0, 0.5);
    float: left;
}

li {
    width: 100%;
    border-style: outset;
    border: 3px solid rgba(0, 0, 0, 0.2);
    list-style-type: none;
    height: 30px;
}

li+li {
    border-top: none;
}

ul {
    padding-left: 0px;
    margin: 10px 5px 10px 5px;
}

.symbols {
    float: right;
    padding-right: 10px;
}

.item-list {
    width: 100%;
    margin-top: 5px;
    height: inherit;
}

.task-heading {
    margin: 0px 0px 0px 15px;
    float: left !important;
}

.toggleText {
    text-decoration: line-through;
}

.text {
    float: left;
    /*padding: 15px 90px 15px 0px;*/
    font-weight: bold;
}

.auth {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}

.auth:hover {
    cursor: pointer;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

span.icon {
    background: url('../resources/images/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}

.btn {
    display: block;
	position: relative;
    float: right;
    background-color: rgba(0,0,0,0);
    top: 10px;
}

.btn button{
    background-color: rgba(0,0,0,0);
    border: 0;
    font-size: 2em;
}

.container > ul
{
    display: flex;
    flex-flow: column wrap;
    height: inherit;
    width: inherit;
}

.container > ul > li
{
    flex: 0 0 auto;
}
